<h1>Editing rordemo</h1>

<%= render :partial => "rordemo" %>

<%= link_to 'Show', @rordemo %> |
<%= link_to 'Back', rordemos_path %>

<%= render :partial => "formlogs/formlogs", :locals => {:logs => @rordemo.formlogs} %>
